<!DOCTYPE html>
{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
    About
{% endblock %}

{% block body_block %}

    <head>
        <title>Rango</title>
    </head>

	<div>
        <h1>Rango says here is the about page</h1>
        
            <br>hey!!<br/>
			 <a href={% url 'rango:index' %}>Index</a><br />
            <strong>{{ boldmessage }}</strong><br />
        </div>

        <div>

 <img src="{{ MEDIA_URL}}cat.jpg">.


        </div>
		<div>
		<img src="{% static "images/DAEHWANCHO.jpg" %}" alt="Picture of fire" /> 

		</div>
 {% endblock %}