{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Rango
{% endblock %}

{% block body_block %}
    <div>
        {% if user.is_authenticated %}
           <H1><B> Rango says...  hello {{ user.username }}!</B></H1>   
		<ul><li><a href="{% url 'rango:add_category'  %}"> Add a New Category</a></ul></li>
        {% else %}
            <H1><B> Rango says...  hello somebody!</H1></B>
        {% endif %}
    </div>
	<p>visits:{{visits}}</p>
    <div>
        {% if categories %}
            <h2><B>{{ "Most Liked Categories" }}</h2></B>
            <ul>
                {% for category in categories %}

                    <li>
                        <a href="{% url 'rango:show_category' category.slug %}">
                            {{ category.name }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
		{% else %}
            <strong>{{"There are no categories present."}}</strong>
        {% endif %}
		
        {% if pages %}
            <H2><B>{{"Most VIEWED Page"}}</B></H2>
            <ul>
                {% for page in pages %}
                    <li><a href="{{ page.url }}">{{ page.title }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <strong>{{"There are no categories present."}}</strong>
        {% endif %}
    </div>

    <div>
            <a href="{% url 'rango:about'%}"About> </a><br />

		</div>
		<div>
        <img src="{% static "images/rango.jpg" %}" alt="Picture of Rango"/>
        </div>


{% endblock %}